<!doctype html>
<html lang="en">
<head>
    <script src="header.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
</head>
<body style="background: whitesmoke">
<div style= "padding: 10px 16px;
  background: gray;
  color: #f1f1f1;">
    <p>BFDjango</p>
</div>
{% block content %}
    <p>Full list</p>
{% endblock %}
<div style= "margin-top: 45%;padding: 10px 16px;
  background: gray;
  color: #f1f1f1;">
    <p>BFDjango</p>
</div>

</body>
</html>